@import url(”style.css”);


h3{
    font-size: 30px;
    font-family: monospace;
    font-style: initial;
    color: darkcyan !important ;

}


.wzor2{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgba(139, 0, 7, 0.5);

}

.wzor3{
    font-size: 20px;
    color:rgba(139, 0, 7, 0.5);
    font-weight: 700;
    text-shadow: 3px 3px 7px darkblue;
}


body{ 
    background: rgb(136,144,0);
    background: radial-gradient(circle, rgba(136,144,0,0.5) 0%, rgba(111,15,0,0.8) 55%, rgba(255,0,0,1) 100%);



}

div p {

font-size: 100px;

}

table tr td p {
    font-size: 0.8em;
    color: lightblue;
    
}
table tr td p:hover {
    font-size: 0.8em;
    color: rgb(230, 173, 225);
    text-shadow: 2px 2px 2px black;
    
}

table{
    border: inset 10px rgba(0, 0, 255, 0.265);
    border-radius: 15px;    
    margin: 2px;

}
td {
   
    border: solid 2px;
    border-radius: 5px; 
    padding: 1px;
   
}

td:hover{
    background-color: rgb(255, 230, 0);
    
}

tr:nth-child(2n) {
    background-color: rgba(0, 128, 0, 0.344);
}
tr:nth-child(2n+1) {
    background-color: rgba(128, 128, 128, 0.199);
}



