body{margin: auto;
    display: grid;
    grid-template-areas: 
    "logo logo logo  logo  logo"
    "adam  adam prawy prawy prawy"
    "l2  l2 prawy prawy prawy"
    "l3  l3 prawy prawy prawy"
    "stopka stopka stopka stopka stopka";
    grid-template-columns: 1fr 1fr *;
    grid-auto-rows: auto ;

}


.logo{
    grid-area: logo;
        background-color: antiquewhite;
        
    }

.l1{
    grid-area: adam;
    background-color: aqua;
   
 
}

.l2{
    grid-area: l2;
    background-color: rebeccapurple;

}
.l3{
    grid-area: l3;
    background-color: rgba(56, 153, 51, 0.808);

}

.prawy{
    grid-area: prawy;
    background-color: cornflowerblue;

}

.stopka{
    grid-area: stopka;
    background-color: pink;
    
}